@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


body {
    background-color: #343e42da;
}


h1 {
    font-size: 80px;
    margin-top: 1em;
    color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2em;
}

#bot {
    border-bottom: 5px solid white;
}

h2 {
    margin-top: 3em;
    color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5.3em;
    font-size: 30px;
}

h2>span {
    color: aqua;
    font-style: italic;

}

#logo {
    position: absolute;
    margin-left: 38em;
    margin-top: -12em;
    max-width: 10em;
}

#lupa {
    border-radius: 2em;
    border: 1px solid #343e42da;
    width: 30em;
    position: absolute;
    margin-left: 80em;
    margin-top: -6em;
    margin-right: 7%;

}

p {
    margin-top: 4.8em;
    color: #f9f9f9;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-right: 7%;
}

strong {
    color: aqua;
}


a {
    text-decoration: none;
    width: 50em;
    color: white;
    font-size: 20px;

}

.button2 {
    width: 30em;
    position: absolute;
    margin-top: -30em;
    display: inline-block;
    padding: 30px 61px;
    border-radius: 15px;
    color: #04f2ff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    border: 2px solid #03fffb;
    transition: all 0.1s linear;
    margin-left: 67%;
    text-align: center;
}

.button2>a {
    font-size: x-large;
}

.button2:hover {
    border: 1px solid transparent;
    background-color: #15a3a0;
    color: white;
    box-shadow: 0 0 0 5px #00f2ff;
    font-weight: bold;
}

#des {
    font-size: 20px;
    font-style: italic;
    border-bottom: 2px solid aqua;
}

@media screen and (max-width: 600px) {
    .button2 {
        position: absolute;
        margin-left: 155px;
        width: 20em;
        margin-top: -25em !important;
    }

    #logo {
        margin-top: -178px;
        margin-left: 10px;
    }

    p,
    h2 {
        font-size: 24px;
    }

    p {
        margin-top: 10em;
    }

    h2 {
        margin-left: 80px;
    }

}

@media screen and (max-width: 550px) {
    .button2 {
        position: absolute;
        margin-left: 120px;
        width: 20em;
        margin-top: -25em !important;
    }

    #logo {
        margin-top: -250px;
        margin-left: 9px;
    }

    p,
    h2 {
        font-size: 24px;
    }

    p {
        margin-top: 10em;
    }

    h2 {
        margin-left: 80px;
    }

}